<ion-view view-title="Browse">
  <ion-content>
    <h3>Welcome</h3>
    <div class="item item-input-inset">
      <label class="item item-input">
        <input type="text"
               ng-model="name"
               placeholder="Enter content">
      </label>
      <button class="button button-small"
              style="margin-left: 30px"
              ng-click="addTOList(name)">
        Submit
      </button>
      <button class="button button-small"
              style="margin-left: 30px"
              ng-click="updateItem(name)"
              ng-show="updateFlag">
        Update
      </button>
    </div>
    <div class="list">
      <ul>
        <li class="item" ng-repeat="item in listItems">
          <div class="item item-input-inset">
            {{item.name}}
            <button class="button button-small"
                    ng-click="editItem(item)"
                    style="margin-left: 100px">
              Edit
            </button>
            <button class="button button-small"
                    style="margin-left: 30px"
                      ng-click="deleteItem(item)">
              Delete
            </button>
            <button class="button button-small"
                    style="margin-left: 30px"
                    ng-click="openContacts(item.name)">
              Contacts
            </button>
          </div>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>
